.box {
    background-color: #fff;
    border-radius: 6px;
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    min-height: 400px;
}

.table {
    user-select: none;
}

.dropdown {
    width: 100%;
}

.dropdown, .dropdown-trigger {
    width: 100%
}

.dropdown, .dropdown-trigger, .button {
    display: flex;
    width: 100%;
    justify-content: space-between
}

.dropdown, .dropdown-menu, .dropdown.content {
    width: 100%;
}
